/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        macrTIL: macrTIL {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N0 &kp KP_N3 &kp KP_N9>,
                <&macro_release>,
                <&kp LALT>;

            label = "macrTIL";
            #binding-cells = <0>;
        };

        mac_k_s_left: mac_k_s_left {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N0 &kp KP_N9 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_k_s_left";
            #binding-cells = <0>;
        };

        mac_k_s_right: mac_k_s_right {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N0 &kp KP_N9 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_k_s_right";
            #binding-cells = <0>;
        };

        mac_s_left: mac_s_left {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_s_left";
            #binding-cells = <0>;
        };

        mac_s_right: mac_s_right {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N5>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_s_right";
            #binding-cells = <0>;
        };

        mac_slash: mac_slash {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N0 &kp KP_N4 &kp KP_N7>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_slash";
            #binding-cells = <0>;
        };

        mac_obrslash: mac_obrslash {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N0 &kp KP_N9 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_obrslash";
            #binding-cells = <0>;
        };

        mac_menshe: mac_menshe {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N0 &kp KP_N6 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_menshe";
            #binding-cells = <0>;
        };

        mac_bolshe: mac_bolshe {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N0 &kp KP_N6 &kp KP_N2>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_bolshe";
            #binding-cells = <0>;
        };

        mac_and: mac_and {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N0 &kp KP_N3 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;

            label = "mac_and";
            #binding-cells = <0>;
        };

        mac_ravno: mac_ravno {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp SPACE &kp EQUAL &kp SPACE>;
            label = "mac_ravno";
            #binding-cells = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                         &kp N6  &kp N7    &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB     &kp Q   &kp W   &kp E     &kp R     &kp T                          &kp Y   &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp LSHIFT  &kp A   &kp S   &kp D     &kp F     &kp G                          &kp H   &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL   &kp Z   &kp X   &kp C     &kp V     &kp B   &kp LBKT     &kp RBKT  &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                            &kp LALT  &kp LGUI  &mo 1   &kp SPACE    &kp RET   &mo 2   &kp BSPC  &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // --------------------------------------------------------------------------------------------------------------
            // | LPAD  | BRDn | BRUp |  MUT |  Vo- |  Vo+ |                   |      |       |       |      |       |       |
            // |  F1   |  F2  |  F3  |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !   |  @   |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |      |      |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                       |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans    &kp C_BRI_DN  &kp C_BRI_UP  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP                                   &kp HOME       &kp KP_N7      &kp KP_N8        &kp KP_N9        &kp MINUS   &kp PAUSE_BREAK
&macrTIL  &kp F1        &kp F2        &kp F3      &kp F4        &kp F5                                         &kp PAGE_UP    &kp KP_N4      &kp KP_N5        &kp KP_NUMBER_6  &kp PLUS    &mac_ravno
&kp CAPS  &kp F6        &kp F7        &kp F8      &kp F9        &kp F10                                        &kp PAGE_DOWN  &kp KP_N1      &kp KP_NUMBER_2  &kp KP_N3        &kp STAR    &macrTIL
&trans    &kp F11       &kp F12       &kp F13     &kp F14       &kp F15       &mac_k_s_left    &mac_k_s_right  &kp END        &kp COMMA      &kp KP_N0        &kp PERIOD       &mac_slash  &kp RIGHT_SHIFT
                                      &trans      &trans        &trans        &trans           &trans          &tog 3         &kp BACKSPACE  &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&studio_unlock  &trans        &trans        &trans        &trans        &trans                                     &none   &mac_and        &kp UP_ARROW  &none            &none                &none
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                               &trans  &kp LEFT_ARROW  &trans        &kp RIGHT_ARROW  &kp LS(PRINTSCREEN)  &trans
&trans          &trans        &trans        &trans        &trans        &trans                                     &trans  &trans          &kp DOWN      &trans           &trans               &trans
&trans          &trans        &trans        &trans        &trans        &trans        &mac_s_left    &mac_s_right  &trans  &trans          &mac_menshe   &mac_bolshe      &mac_obrslash        &trans
                                            &trans        &trans        &tog 1        &trans         &trans        &trans  &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
